/*FRONTPAGE - BUTTONS PRODUCT-CATEGORIES*/
.prod-btn {
    width: 75%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
    padding: 10px;
    border: none;
    border-radius: 30px
  
    a {
        font-size: 16px !important;
        text-decoration: none !important;
    }
  }

  #wpforms-submit-72924 {
      background: white; 
      color: black;
      border: 1px solid black;
      border-radius: 30px;

      &:hover {
          background: black;
          color: white;
      }
  }