/*Cookie Compliance*/


/* Element | https://sanaleo.com/ */

#cc-window {
    border-radius: 30px;
  }
  
  /* In Webseite enthaltenes Stil-Dokument #-1 | https://bluetree.ai/screenfly/?u=https%3A//sanaleo.com&a=19&b=10 */
  
  #cc-window.cc-window .cc-compliance .cc-btn.cc-accept-all {
    background-color: white;
    border-radius: 50px;
  }

  .cc-compliance .cc-btn.cc-save-settings {
    color: black !important;
    background-color: white;
    border-color: black !important;
    border-radius: 50px;
  }
  
  .cc-compliance .cc-btn.cc-show-settings, .cc-compliance .cc-btn.cc-save {
    background-color: black;
    color: white;
  }
  
  .cmplz-slider-checkbox .cmplz-slider {
    background-color: white;
  }
  
  
  #cc-window.cc-window .cc-compliance .cc-btn.cc-accept-all:hover {
    background-color: black;
    color: white;
  }
  
  .cc-compliance .cc-btn.cc-save-settings:hover {
    background-color: black;
    color: white !important;
  }
  
  
  /* In Webseite enthaltenes Stil-Dokument #-1 | https://bluetree.ai/screenfly/?u=https%3A//sanaleo.com&a=19&b=10 */
  
  .cc-color-override-240881985 .cc-btn {
    /* border-color: rgb(0, 115, 170); */
    color: rgb(0, 0, 0);
    border-color: black;
    border-radius: 0px;
    border-color: black;
  }
  
  .cc-color-override-240881985.cc-window {
    color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
    background-color: white;
    border-color: black;
    border: none;
  }
  
  /* In Webseite enthaltenes Stil-Dokument #-1 | https://bluetree.ai/screenfly/?u=https%3A//sanaleo.com&a=19&b=10 */
  
  .cmplz-slider-checkbox .cmplz-slider {
    background-color: darkgray;
  }
  
  .cmplz-slider-checkbox input:checked + .cmplz-slider {
    background-color: black;
  }
  