.archive {
    
    .price {
	position: absolute;
	top: 10px;
	background: #d3d3d352;
	border-radius: 10px;
	margin: auto;
	padding: 10px 20px;
	left: 10px;
	font-weight: 400 !important;
}

}


/*Im Angebot Sticker*/

.woocommerce ul.products li.product .onsale {
	top: -50px;
	right: -10px;
	left: auto;
	padding: 16px 6px !important;
	font-size: 12px;
	border-radius: 50px !important;
	font-weight: 900;
	background: #ff6e6e;
	text-transform: uppercase !important;
}