.margin {
	&-0 {
		margin: 0 !important;
	}
	&-10 {
		margin: 10% !important;
	}
}

.padding {

	&-top-0 {
		padding-top: 0;
	}

	&-bottom-0 {
		padding-bottom: 0;
	}

	&-0 {
		padding: 0 !important;
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
}

.translate-down-30 {
	transform: translate(0, 30px);
}